@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap')
	;

body {
	font-family: 'Nanum Gothic', sans-serif;
	font-color: #212121;
}

a {
	text-decoration: none;
	font-color: #212121;
}

/* ----------------- main-menu ------------------ */
header {
	/*position: fixed;
	top: 0;
	width: 100%;*/
	height: 120px;
}

.top_menu {
	font-size: 12px;
	font-color: #212121;
	width: 100%;
	padding: 20px;
	/*border-bottom: 1px solid #F2F2F2;*/
}

.top_menu .logo {
	display: inline-block;
	margin-right: 20px;
}

.top_menu .search {
	display: inline-block;
	margin-right: 20px;
}

.top_menu .search {
	border-bottom: 2px solid #212121;
}

.top_menu .search span input {
	width: 380px;
	height: 30px;
	border: 1px solid #ffffff;
}

.top_menu .user_action {
	display: inline-block;
}
.top_menu .user_action ul {
	display: inline-block;
}
.top_menu .user_action ul li {
	display: inline-block;
}





/* bottom_menu*/
.bottom_menu {
	width: 100%;
	font-size: 14px;
	font-color: #212121;
	display: inline-block;
}

.bottom_menu ul {
	list-style: none;
	margin: 0 200px;
	padding: 0px;
}

.bottom_menu ul li {
	display: inline-block;
}

.bottom_menu ul li a {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 15px;
	text-decoration: none;
	font-color: #212121;
}

/* ----------------- main-slide ------------------ */

/* -------------------- wrap --------------------- */
.wrap {
	overflow: hidden;
}

.first_wrap {
	height: 500px;
	margin: 20px auto;
}

.first_wrap_i {
	height: 400px;
	float: left;
	margin: 20px;
}

.first_wrap_i a img {
	height: 400px;
	width: 310px;
}